PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=shorterlink

APP_BASE_URL=http://localhost:3001
GEO_API_URL=https://ipapi.co

NODE_ENV=dev
DEV_CLIENT_IP=8.8.8.8