.header {
  width: 100%;
  background: var(--brand);
  color: white;
}
.headerContainer {
  padding: 16px 16px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: var(--container-w);
}

.brand {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}